* {
    
    box-sizing: border-box;
}

.orchard-background{
    position: relative;
    background-image: url("/orchard.png");
    height: 450px;
    width: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-self: center;
    background-color: tomato;
    padding: 50px;
    margin: 30px;
    border-width: 5px;
    border-color: brown;
    border-radius: 20px;
}

.apple-target{
    position: absolute;
    background-image: url("/apple.png");
    height: 50px;
    width: 50px;
    background-size: contain;
    
}

.stats{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px;
}

.full-page{
    background-color: goldenrod;
    padding: 30px;
    margin: 15px;
    border-radius: 20px;
}